<!DOCTYPE html>
<html>
    <head>
        <title>ShoppingList</title>
    </head>
    <body>
        <h1>Shopping List</h1>
        <ol>
        <% groceries.forEach(function(item){ %>
            <h2><%= item.storeName %></h2>
            <% item.list.forEach(function(listItem){ %>
                <ul><%= listItem %></ul>
            <% }); %>
        <% }); %>
        </ol>
    </body>
</html>